* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxes-container {
  border: 1px dotted black;
  margin: 10px;
  width: 90%;
  height: 410px;
  display: grid;
  grid-template-columns: 200px 200px;
  /* grid-template-rows: 1fr, 1fr; */
  gap: 5px;
}

.boxes {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

button {
    height: 40px;
    width: 100px;
    font-size: 15px;
}
