* {
  box-sizing: border-box;
}

.box-container {
  height: 410px;
  width: 410px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.box {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}
