* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.root {
  margin: auto;
}

.header {
  background-color: #0086b3;
  border: 10px dashed #004d66;
  color: #ffffff;
  height: 100px;
  width: 100%;
  max-width: 605px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #0086b3;
  color: #ffffff;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.friend-container {
  width: auto;
  max-width: 600px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px 5px;
  align-content: center;
}

.info-container {
  background-color: #ccffcc;
  border-radius: 5px;
  width: 300px;
  margin: 5px 0 0 0;
}

.friend-section {
  text-align: center;
  background-color: #66ff66;
  padding: 5px;
}

.pet-section {
  padding: 5px;
}

.pet-list {
  list-style-type: none;
  border-bottom: 1px solid grey;
}

#pet-header {
  text-align: center;
}
