body {
  background-color: #d7e0e0;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #120fd6, #181821, #ed1f1f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

p {
  font-size: 25px;
}

#priceList {
  
  background-color: #1ec935;
  height: 140px;
  width: 380px;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px;
  font-size: 30px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.listItems {
  margin-left: auto;
  margin-right: auto;
}

#listLabel {
  font-size: 30px;
  font-weight: bold;
}

#inputForm {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 450px;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
  }

.inputBox {
  width: 25px;
  height: 25px;
}

#goombaImg {
  border: 1px;
  border-color:black;
  border-radius: 1px;
  padding: 5px;
  width: 40px;
}

#bobombImg {
  border: 1px;
  border-color:black;
  border-radius: 1px;
  padding: 5px;
  width: 50px;
}

#cheepcheepImg {
  border: 1px;
  border-color:black;
  border-radius: 1px;
  padding: 5px;
  width: 40px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 1300px;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

#reviews {
  flex: 1;
}

#mariosAddress {
  flex: 2;
}

#mariosUrl {
  flex: 3;
}

#mariosEmail {
  flex: 6;
}

#princessPeachImg {
  border: 1px;
  border-color:black;
  border-radius: 1px;
  padding: 5px;
  width: 50px;
  flex: 4;
}

#thumbsUpImg {
  border: 1px;
  border-color:black;
  border-radius: 1px;
  padding: 5px;
  width: 50px;
  flex: 5;
}