body {
    background: #fff;
    font-family: Libre Baskerville, sans-serif;
    font-size: 70%; 
}

.container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.header {
    background-image: url(images/huntington.jpg);
}

.headerLeft {
    grid-column: 1 / 3;
}

.headerRight {
    grid-column: 3 / 4;
}

.authors {
    background-image: 
}
.links {
    background-color:
}

.footer {
    grid-column: 1 / 3;
}



/* @media (max-width: 900px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    /* .authors {
         
    }
    .links {

    }
    /* container could use some help so that it's children are full screen width */
    /* .container {
        
    }
} */

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}