* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light-theme {
  background-color: #cfcfcf;
  color: #000;
}

.dark-theme {
  background-color: #3a3b3c;
  color: #fff;
}

.App {
  padding: 10px;
}

#navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #555555;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.navbar-item {
  box-shadow: 4px 4px 4px 1px #72a0c1;
  background-color: #f0f8ff;
  text-align: center;
}

#body-container {
  border: 1px solid black;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: aqua;
  height: 50px;
  width: 30%;
}

#footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #555555;
}

.footer-item {
  box-shadow: 4px 4px 4px 1px #72a0c1;
  background-color: #f0f8ff;
  text-align: center;
}
