h1 {
    font-size: 45px;
}

h2, h3 {
    font-size: 30px;
}

.title {
    text-align: center;
    color: black;
}

.main {
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background-color: lightgreen;
}

#add-item {
    border: 1px solid black;
}

.input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.label {
    margin: 10px;
    font-size: 25px;
}

#list {
    flex-direction: column;
    display: flex;
}

#list > li{
    list-style-type: none;
    margin: 10px auto;
}

#list div {
    margin-bottom: 10px;
    text-align: center;
}

/* .space {
    margin-right: 10px;
} */
