h1 {
    font-size: 40px;;
}

ol {
    font-size: 30px;;
}

li {
    font-size: 25px;
}

input {
    height: 25px;
    width: 200px;
    margin: 5px 5px 10px 5px;
}

button {
    height: 25px;
    background-color:darkseagreen

}